<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.microblog.dao.mapper.BlogTopicMapper">

    <resultMap id="BaseResultMap" type="com.microblog.domain.BlogTopic">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="blogId" column="blog_id" jdbcType="BIGINT"/>
            <result property="topicId" column="topic_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,blog_id,topic_id
    </sql>
</mapper>
